<h1>
  List of all actors
</h1>

  <button>
    Create actor
  </button>
</form>
<form action="/insert_movie_record" method="post">
  <div>
    <label for="title_field">Title</label>
    <input id="title_field" type="text" name="the_title">
  </div>

  <div>
    <label for="year_field">Year</label>
    <input id="year_field" type="text" name="the_year">
  </div>

  <div>
    <label for="duration_field">Duration</label>
    <input id="duration_field" type="text" name="the_duration">
  </div>

  <div>
    <label for="description_field">Description</label>
    <input id="description_field" type="text" name="the_description">
  </div>

  <div>
    <label for="image_field">Image</label>
    <input id="image_field" type="text" name="the_image">
  </div>

  <div>
    <label for="director_id_field">Director ID</label>
    <input id="director_id_field" type="text" name="the_director_id">
  </div>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_actors.each do |an_actor| %>
  <tr>
    <td>
      <%= an_actor.id %>
    </td>

    <td>
      <img src="<%= an_actor.image %>" style="width:250px;">
    </td>

    <td>
      <%= an_actor.name %>
    </td>

    <td>
      <%= an_actor.dob %>
    </td>

    <td>
      <a href="/actors/<%= an_actor.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
